<nav>
    <div (click)="back()" class="back">GO BACK</div>
</nav>
<div class="character">
    <img class="character--image" [src]="character.image" alt="character">
    <h2 class="character--name">{{character.name}}</h2>
    <span>Informations</span>
    <div class="character--details">
        <ul>
            <li>Gender <br><span>{{character.gender}}</span></li>
            <li>Status <br><span>{{character.status}}</span></li>
            <li>Specie <br><span>{{character.species}}</span></li>
            <li>Origin <br><span>{{character.origin.name}}</span></li>
            <li>Type <br><span>{{character.type}}</span></li>
        </ul>
    </div>
</div>
