<header>
  <img src="../../../assets/rickmortylogo.png" alt="logo" class="logo" />
</header>
<label class="search">
  <input
    type="text"
    placeholder="Filter by name..."
    [(ngModel)]="searchInput"
    class="search--input"
    name="search"
    (keyup.enter)="search()"
  />
</label>

<div class="characters">
  <a
    [routerLink]="['/character', char.id, { query: searchInput }]"
    class="card"
    *ngFor="let char of characters"
  >
    <img [src]="char.image" class="card--img" />
    <div class="card--info">
      <h3>{{ char.name }}</h3>
      <span>{{ char.species }}</span>
    </div>
  </a>
</div>
<app-signin></app-signin>
