:host {
    display: block;
    width: 1020px;
    margin: auto;
    padding: 80px 0;
}
* {
    margin: 0;
}
header {
    width: 600px;
    margin: auto;
    margin-bottom: 16px;
}

.search{
    position: relative;
    display: flex;
    align-items: center;
}
.search::after {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('../../assets/lens.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 20px;
}

.search--input {
    width: 100%;
    padding: 16px;
    padding-left: 48px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    outline: none;
}

.characters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin: 60px 0;

    .card {
        display: block;
        position: relative;
        width: 240px;
        height: 244px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
        list-style: none;
        color: black;

        &--img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
        &--info {
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 12px 16px;
            background-color: #fff;

            h3 {
                font-weight: 500;
                font-size: 20px;
            }

            span {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    
    }
    
}
@media screen and (max-width: 360px) {
    :host {
      width: 312px;
      padding: 40px 24px;
    }

   header {
    width:100%;
    .logo {
        width: 100%;
    }
   }
  
    .characters {
      margin: 20px 0;
      justify-content: center;

      .card {
        width: 100%;
        height: 308px;
      }
    }

}